<div class="flex items-center">
    <h1 class="text-4xl font-bold my-6">Menu da semana</h1>

    <%= link_to "Gerar menu", "#", class: "mx-4 bg-blue-400 rounded-md text-white h-10 py-2 px-4 hover:no-underline hover:bg-blue-500" %>

    
    <% unless @menu_recipes.empty? %>
        <%= link_to "Editar menu", "#", class: " mr-4 bg-yellow-400 rounded-md h-10 py-2 px-4 hover:no-underline hover:bg-yellow-500 hover:text-black"  %>

        <%= link_to "Lista de supermercado", "#", class: "bg-indigo-400 rounded-md h-10 py-2 px-4 text-white hover:no-underline hover:bg-indigo-500"  %>        
    <% end %>


</div>

<table class="w-100">
    <thead>
        <tr class="text-center">
            <th class="font-semibold rounded bg-gray-200 py-2">Domingo</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Segunda</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Terça</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Quarta</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Quinta</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Sexta</th>
            <th class="font-semibold rounded bg-gray-200 py-2">Sabado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
         <% @menu_recipes.each do |recipe| %>
            <td><%= recipe.name %></td>
         <% end %>
        </tr>
    </tbody>
</table>