<div class="flex items-end mb-2">
    <h1 class="mt-4 text-xl font-bold">Todas as receitas</h1>
    <%= link_to "Add", new_recipe_path, class: " ml-2 bg-green-400 px-3 py-1 rounded-full text-white font-semibold text-xs" %>

</div>


<ul>
<% @recipes.each do |recipe| %>

    <li class="mb-2"><%= link_to recipe.name, recipe_path(recipe) %></li>

<% end %>

</ul>

