<% @recipes.each do |recipe| %>
    <div class="mb-4">
        <p class="font-bold"><%= recipe.name %></p>
        <% recipe.ingredients.each do |ingredient| %>
            <p>
                <input type="checkbox">
                <%= ingredient.name %>
            </p>
        <% end %>
    </div>
<% end %>